<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a
          class="navbar-brand"
          routerLink="/tasks"
          style="font-weight: bold; color: white"
          >Task Management</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="color: white; background-color: white"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" style="z-index: 999">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                routerLink="tasks"
                routerLinkActive="active"
                >All Tasks</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/users"
                >Users</a
              >
            </li>
            <li class="nav-item me-2">
              <a class="nav-link" routerLink="/login" (click)="signOut()"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>
  </body>
</html>
